setuptools==49.2.1
aarpy==0.1
appdirs==1.4.3
astroid==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.9.1
bs4==0.0.1
configparser==3.5.0
coveralls==2.1.1
decorator==4.0.11
enum34==1.1.6
ipython==7.16.3
ipython-genutils==0.2.0
isort==4.2.5
lazy-object-proxy==1.4.*
mccabe==0.6.1
packaging==16.8
pathlib2==2.2.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.7.4
pylint==2.5.3
pyparsing==2.2.0
pytest==6.0.1
requests==2.20.0
requests[security]
requests-cache==0.6.4
scandir==1.5
simplegeneric==0.8.1
singledispatch==3.4.0.3
traitlets==4.3.2
wcwidth==0.1.7
wrapt==1.11
certifi==2020.6.20
user_agent==0.1.9 